nav > ul {
	list-style: none;
	// Safari hack, see https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
	/* list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"); */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

nav li {
	margin: 1px;
	padding: 0;
	font-size: 1.5rem;
	flex: 1 1 0%;
	position: relative;
}

@media (min-width: 45em) {
	nav > ul {
		flex-direction: row;
		height: 3em;
	}
	nav li {
		flex: 1;
		font-size: 1em;
	}
}

nav a {
	display: flex;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	border: thin solid var(--background-color);
	/*border-radius: .5em;*/
	color: var(--link-color);
	--link-color: gold;
	background-color: var(--background-color);
	position: relative;
}

nav a.auto {
	background-color: var(--accent2-color);
}

nav li[aria-current] a {
	background-color: var(--accent2-color);
	color: var(--accent1-color);
}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
	color: var(--background-color);
	background-color: var(--accent1-color);
}
/*     submenu navigation links      */

nav ul ul {
	visibility: hidden;
	height: 0;
	z-index: 1000;
}

nav ul li {
	display: block;
}

.visible {
	visibility: visible;
	height: auto;
}

[aria-expanded] {
	position: absolute;
	right: 0.5em;
	top: 0.25em;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	background: var(--background-color);
	
	outline: transparent;
	border: none;
	border-radius: 0.3em;
}

.edit_button {
	position: absolute;
	right: 2.5em;
	top: 0.25em;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	background: var(--background-color);
	
	outline: transparent;
	border: none;
	border-radius: 0.3em;
}

.edit_button svg,
[aria-expanded] svg {
	pointer-events: none;
	fill: var(--accent1-color);
	border-radius: 0.3em;
	z-index: 10;
}

.edit_button:hover svg,
[aria-expanded]:hover svg {
	fill: var(--background-color);
	background: var(--accent1-color);
}

[aria-expanded="true"] svg {
	transform: translate(0, 0) rotate(90deg);
}

.visually-hidden,
[visually-hidden="true"] {
	position: absolute !important;
	clip-path: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

:root {
	--background-color: midnightblue;
	--accent1-color: gold;
	--accent2-color: darkred;
	--text-color: black;
}

/* Add comic button */
.add_comic {
	height: 2em;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    text-align: center;
	font-weight: bold;
    color: var(--accent1-color);
}
.add_comic:hover {
    color: var(--background-color);
    background-color: var(--accent1-color);
    
}

/* comic edit frame */
div.input_frame {
	margin: 6px;
    border: 2px solid black;
}

/* comic edit input fields */
input.td {
    width: 100%;
}

/* Table in comic edit frame */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}