.field_type_icon {
    object-fit: contain;
    margin-left: 6px;
    opacity: 0.4;
    height: 0.9em;
    width: 0.9em;
    align-self: center;
}

.week_day {
    font-weight: bold;
    cursor: pointer;
}

.week_day::selection {
    background: inherit;
}

.spans {
    display: grid;
    grid-template-columns: auto auto 1fr;
    line-break: anywhere;
}

.spans:focus {
    outline: none;
}

.prefix_main {
    color: blue;
    cursor: pointer;
}

.prefix_main::selection {
    background: inherit;
}

.prefix_edge {
    background: lightgreen;
    cursor: pointer;
}

.prefix_edge::selection {
    background: lightgreen;
}

.prefix_trail {
    color: gray;
    cursor: pointer;
}

.prefix_trail::selection {
    background: inherit;
}

.append_stars {
    color: lightgray;
}

.config_container {
    border: 1px solid black;
    border-radius: 6px;
    padding: 18px;
}

.div_label {
    position: relative;
    top: 1ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
}

.divider {
    margin-top: 6px;
}

.schedule_option {
    margin-left: 20px;
}

.label_box {
    width: 300px;
}