.spans {
    display: flex;
    flex-direction: row;
}

.prefix_main {
    background: lightgreen;
}

.prefix_main::selection {
    background: lightgreen;
}

.prefix_edge {
    background: green;
}

.prefix_edge::selection {
    background: green;
}

.prefix_trail {
    background: lightgray;
}

.prefix_trail::selection {
    background: lightgray;
}

.append_stars {
    color: lightgray;
}

.config_container {
    border: 1px solid black;
    border-radius: 6px;
    padding: 18px;
}

.div_label {
    position: relative;
    top: 1ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
}

.divider {
    margin-top: 6px;
}

.schedule_option {
    margin-left: 20px;
}

.label_box {
    width: 300px;
}