/* comic edit frame */
div.input_frame {
	margin: 6px;
    border: 2px solid black;
}

/* comic edit input fields */
input.td {
    width: 100%;
}

/* Table in comic edit frame */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}