:root {
    --main-hover-color: #cecece;
    --button-hover-color: #abcc7a;
}

.gridline {
    width: 100%;
    display: grid;
    padding: 0;
    margin: 0;
}

.search_line {
    grid-template-columns: 1fr auto;
}

.reader {
    grid-template-columns: auto 1fr auto;
}

.auto_bookmark {
    grid-template-columns: 1fr auto;
}

.manual_bookmark {
    grid-template-columns: 1fr auto auto;
}

.gridline:hover {
    background-color: var(--main-hover-color);
}

.no_draw {
    display:none;
}

.bookmark_icon {
    object-fit: contain;
    padding-left: 2.5em;
    height: 98%;
    width: 98%;
}

.thumbnail_icon {
    object-fit: contain;
    height: 95%;
    width: 95%;
}

.undecorated_link {
    display: grid;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    color: black;
    align-items: center;
}

.icon_button_expand,
.icon_button {
    outline: transparent;
    border: none;
    border-radius: 0.3em;
    background: #FFFFFF;
    z-index: 10;

    align-items: center;
}

.icon_button {
    display: none;
}

.icon_button_expand {
    display: inline-flex;
}

.gridline:hover .icon_button {
    display: inline-flex;
}

.icon_button_expand:hover,
.icon_button:hover  {
    background: var(--button-hover-color);
}

.label_input {
    border: none;
    outline: none;
}

/* Does help with overflow */
.gridline_label {
    display: inline-flex;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
} 

.gridline:hover div > .label_input {
    background: var(--main-hover-color);
}

/* Search bar */
.search_box {
    background: transparent;
    background-image: url("../icons/search.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}

.search_box:focus {
    outline: none;
}

/* Sorting dropdown */
.dropdown_toggle {
    display: flex;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown_option_box {
    display: none;
    position: absolute;
    right: 0;
    z-index: 20;
    flex-direction: column;
    border: groove;
    border-radius: 0.3em;
    border-width: 2px;
    border-color: lightgray;
}

.dropdown_icon {
    visibility: hidden;
}

.dropdown_option {
    cursor: pointer;
    display: flex;
    text-align: left;
    white-space: nowrap;
    border: none;
    align-items: center;
}

.dropdown_label {
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    margin-left: 0.3em;
}

.dropdown_divider {
    border-width: 2px;
    border-top: solid;
    border-color: lightgray;
}

/* Add comic button */
.add_reader {
	/*height: 2em;*/
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    text-align: center;
    color: black;
}
.add_reader:hover {
    color: black;
    background-color: var(--button-hover-color);
}

/* comic edit frame */
div.input_frame {
	margin: 6px;
    border: 2px solid black;
}

/* comic edit input fields */
input.td {
    width: 100%;
}

/* Table in comic edit frame */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}