tr:hover {
    background-color: lime;
}

table {
    display: block;
    border-collapse:collapse;
    border: none;
    width: 100%;
}

td {
    width: auto;
}

.wide {
    width: 100%;
}

.hidden {
    display:none;
}

a {
    display:flex;
	text-decoration: none;
    width = 100%;
    color: black;
}

.icon_button {
    outline: transparent;
	border: none;
	border-radius: 0.3em;
    background: #FFFFFF;
    z-index: 10;
}

.icon_button:hover  {
    background: yellow;
}

.icon_button {
}

.icon {
}