
.dropdown_wrapper {
    display: inline-block;
}

.dropdown_wrapper_spacy {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dropdown_button_w_margin {
    margin-top: 0.5ex;
}

.dropdown_option_box_crammed,
.dropdown_option_box_spacy
 {
    display: none;
    position: absolute;
    right: 0;
    z-index: 20;
    flex-direction: column;
    border: groove;
    border-radius: 0.3em;
    border-width: 2px;
    border-color: lightgray;
}

.dropdown_option_box_spacy
{
    top: 100%;
}

.dropdown_icon {
    visibility: hidden;
}

.dropdown_option {
    z-index: 21;
    cursor: pointer;
    display: flex;
    text-align: left;
    white-space: nowrap;
    border: none;
    align-items: center;
}

.dropdown_label {
    z-index: 22;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    margin-left: 0.3em;
}

.dropdown_divider {
    border-width: 2px;
    border-top: solid;
    border-color: lightgray;
}