.hint {
    display: none;
    overflow: hidden;
    background-color: #8bc77f;
    padding: 0.5ex;
}

.hint_grid {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1ex;
    column-gap: 0.5ex;
}

.hint_images {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.hint_dismiss {
    float: right;
    margin-top: 0.5ex;
}

.hint_explain {
    border: solid;
    border-width: 1px;
    border-color: #637973;
    padding: 0.5ex;
    border-radius: 0.5ex;
}